<!DOCTYPE html>
<html>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<head>
    <title>Password Change</title>
    <style>
        div {
            margin-bottom: 5px;
        }

        label {
            display: block;
            float: left;
            width: 150px;
            text-align: right;
            font-weight: bold;
            margin-right: 10px;
        }

        input.submit {
            margin-left: 160px;
        }
    </style>
</head>

<body>
    <h1>Password Change</h1>
    <form action="/auth/change_password.html" method="post">
        <div>
            <label for="old_password">Old Password</label>
            <input type="password" name="old_password">
        </div>
        <div>
            <label for="new_password">New Password</label>
            <input type="password" name="new_password">
        </div>
        <div>
            <input type="submit" class="submit" value="Change Password", formaction="/auth/change_password.html">
        </div>
    </form>
</body>

</html>