<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Coolest Games List</title>
    </head>
    <body>
        <h1>Coolest Games List</h1>
        <p>Here's a list of the coolest games I've ever played, and links to 
            their websites. Hopefully you recognize one of these!
        </p>
        <h2>Coolest Games Ever, In Order:</h2>
        <ol>
          <li><a href="https://newcp.net/en/" title="Club Penguin">Club Penguin, Fan Remake</a></li>
          <li><a href="https://www.webkinz.com/" title="Webkinz">Webkinz</a></li>
          <li><a href="https://www.warframe.com/landing" title="warframe">Warframe</a></li>
        </ul>
    </body>
</html>