<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>SDEV 300, Assignment 6</title>
    </head>
    <body>
        <h1>Welcome to Flask</h1>
        <p>It's currently {{ date.strftime("%A, %d %B, %Y at %I:%M:%S %p") }}</p>
        <p>This is an example of a webpage that is created using Flask in 
          Python, with HTML templates defining the page structure. This 
          is the homepage, you can use the links below to navigate through 
          the other two pages that are created in this assignment.
        </p>
        <h2>Webpage Links:</h2>
        <ul>
          <li><a href="game_site_list.html" title="Coolest Games List">List of Coolest Games Ever</a></li>
          <li><a href="display_image.html" title="Display a Cool Image">Display a Cool Image</a></li>

        </ul>
    </body>
</html>